<section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
            <!-- About Section Content-->
            <div class="row">
                <p class="fs-3 text">I am a highly motivated and driven Computer Programming graduate with an excellent academic record that can thrive in a fast-paced environment. Possess strong leadership, organizational, and analytical skills with proven success in managing a rigorous academic course load and various extracurriculars. Passionate about creating web application, managing data and eager to learn and contribute in a challenging dynamic climate.</p>            
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                  <a class="btn btn-xl btn-outline-light" href="/docs/BibekResume.pdf">
                    <i class="fas fa-download me-2"></i>
                    Resume
                </a>
            </div>
        </div>
</section>